<% if current_user.present? %>
  $('#sign-in').html("<p style='color: green'>Successfully logged in as <%=j current_user.email %></p>");
  //$.get("<%=j logged_in_order_path(placed_order) %>");


  <% @order = Order.new -%> 
  <% @new_user = @order.build_user -%>
  <% @order.build_saved_card -%>

  <% if current_user.saved_cards.size > 0 -%>
    <% @saved_cards = current_user.saved_cards -%>
    <% @default_card = current_user.saved_cards.order('id DESC').first -%>
  <% end -%>

  $('#confirm').html("<%=j render 'orders/custom_form' %>");
	

<% else %>
  $('#sign-in').children('p:first-child').remove();
  $('#sign-in').prepend("<%=j render 'shared/flash', flash: flash %>");
<% end %>
