.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
public/assets/
config/nginx.conf

.rvmrc
.rbenv-gemsets

.DS_Store
*.swp
*.swo
*~

config/database.yml
config/activemerchant.yml
config/twilio.yml
config/intefax.yml
config/interfax.yml

public/system/**

coverage
