@font-face {
    font-family: 'BrandonGrotesqueBlack';
    src: url('brandon_blk-webfont.eot');
    src: url('brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_blk-webfont.woff') format('woff'),
         url('brandon_blk-webfont.ttf') format('truetype'),
         url('brandon_blk-webfont.svg#BrandonGrotesqueBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrandonGrotesqueBold';
    src: url('brandon_bld-webfont.eot');
    src: url('brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_bld-webfont.woff') format('woff'),
         url('brandon_bld-webfont.ttf') format('truetype'),
         url('brandon_bld-webfont.svg#BrandonGrotesqueBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrandonGrotesqueMedium';
    src: url('brandon_med-webfont.eot');
    src: url('brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_med-webfont.woff') format('woff'),
         url('brandon_med-webfont.ttf') format('truetype'),
         url('brandon_med-webfont.svg#BrandonGrotesqueMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

