<div id="content" class="dashboard">
<%= render :partial => 'shared/admin_nav' %>
	<div id="content_wrap">
		<h2>Dashboard</h2>
		<div class="main_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus augue elit, dapibus in sagittis id, vehicula id erat. Mauris fermentum urna et metus semper sollicitudin. Duis eu enim tortor, ut suscipit velit.</div>

		<!-- This is for HTS site administrators only. -->
		<% if @user.administrator %>
		  <div id="administrator-tab">
		    <%= render 'administrator_tab' %>
		  </div>
		<% end %>

	</div>
	<!--end content_wrap-->
</div>
<!--end content-->
