<div class="home">
	<div id="content" class="sub login">
		<div id="content_wrap" class="center">
			<div id="main">
				<h1>Sign Up</h1>
				<%= render 'form', options: {} %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>