<div class="home">
<div id="content" class="sub login">
	<div id="content_wrap" class="center">
		<div id="main">

		
			<h1>Reset Password</h1>
			<%= form_tag reset_password_users_path, :method => :post do %>
			  <p>
			    <%= label_tag :username, "Enter your email or cell #" %><br />
			    <%= text_field_tag :username, params[:username] %>
			  </p>
			  <p>
			    <%= submit_tag "Reset Password" %>
			  </p>
			<% end %>
	  </div><!--
	  <div id="sidebar">
	  	<div class="sub_image">
	  		<img src="/assets/login_page_ad.png" width="560"/>
	  	</div>
	  </div> -->
	  <div class="clear"></div>
	</div>
</div>
</div>

