<div class="no_javascript">
  <img src="<%= asset_path 'warning.png' -%>" alt="Javascript Required" />
  <p>Javascript is required in order to signup. <br />
  <a href="https://www.google.com/support/adsense/bin/answer.py?answer=12654">How to enable javascript</a>
</div>
