<div>
	<fb:fan width="270" logobar="0" connections="8" stream="0" profile_id="219667048073108" class=""></fb:fan>
</div>

<div id="twitter">
	<script src="https://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 4,
	  interval: 6000,
	  width: 270,
	  height: 300,
	  theme: {
	    shell: {
	      background: '#ffffff',
	      color: '#212121'
	    },
	    tweets: {
	      background: '#ffffff',
	      color: '#4d4632',
	      links: '#ef7716'
	    }
	  },
	  features: {
	    scrollbar: false,
	    loop: false,
	    live: false,
	    hashtags: true,
	    timestamp: true,
	    avatars: false,
	    behavior: 'all'
	  }
	}).render().setUser('HitTheSpot').start();
	</script>
</div>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '373740199311333', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

