

<div id="content" class="sub">
	<div id="content_wrap" >
	<div id="main">
		<h1>About Us</h1>
		<div class="sub_image">
			<img src="/assets/sub_about_us.png" width="580px" />
		</div>
		<p>
			<p class="large"><strong>It was a dark and stormy night...</strong> well not really.</p>
			<p>It was about four o’clock in the afternoon on a trip from Detroit to Seattle and Brad House was on a layover sitting in the airport.  
				 Two hours of Solitaire left his laptop in need of a charge for the next flight so he settled in next to an outlet.  
				But there was a problem.  Airlines don’t take care of you like they used to and he was famished. 
				Unfortunately his options were limited.  If he got in line for food he wouldn’t have enough time to charge his computer and he would be 
				 stuck reading the inflight magazine from cover to cover and back again.  
				Man, a burger would hit the spot but nobody was going to bring it to him.  And that’s when it hit.  
				"Why can't someone bring it to me?", he thought.  "After all, everyone has a GPS-enabled smart phone these days.  
				Surely someone has come up with a way to deliver food to my spot rather than an address"... They hadn’t, and that needed to be remedied. </p>
	
	  <p>
			Brad brought the idea to his friend Will Little who was a successful entrepreneur in the tech industry.  
			 Brad shared with him a simple idea: what If I could buy my lunch without a wallet and without an address?  
			Isn’t it time that food delivery evolved to match the pace of today's busy schedule?  Will was hungry and Hit The Spot&trade; was born.		
		</p>	
	</div>
	
	<!--
	<div id="sidebar">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus augue elit, dapibus in sagittis id, vehicula id erat. Mauris fermentum urna et metus semper sollicitudin. Duis eu enim tortor, ut suscipit velit. Aenean accumsan dictum enim vel molestie. In eu lorem mi, nec rutrum sem. Aenean lacinia, tortor quis sollicitudin aliquet, neque sem vestibulum est, eu mollis magna dui id tellus.</p>
		<p>Proin aliquet felis augue. Maecenas vel neque mauris, sed auctor sapien. Nulla facilisi. Proin sit amet nisi ante, molestie scelerisque sem. Nullam molestie, tellus ac faucibus luctus, risus tellus imperdiet leo, at vulputate libero nisi nec magna. Sed eu quam nulla. Aenean non est nunc. Nullam elementum dui ut nunc ornare et posuere neque vehicula. Aliquam dignissim mollis pulvinar. Suspendisse dui ipsum, facilisis a rhoncus sit amet, ultrices sit amet dolor.</p>
		<p>Aenean non est nunc. Nullam elementum dui ut nunc ornare et posuere neque vehicula. Aliquam dignissim mollis pulvinar. Suspendisse dui ipsum, facilisis a rhoncus sit amet, ultrices sit amet dolor.</p>
	</div> -->
	
	<div id="sidebar">
		<%= render :partial => 'shared/sidebar' %>
	</div>
	
	
	<div class="clear"></div>
		</div>
</div>