

<div id="content" class="sub">
<div id="content_wrap">
	<div id="main">
		<h1>Contact Us</h1>
		<p class="large">The best way to get hold of us currently is to email <a href="mailto:info@hitthespot.com">info@hitthespot.com</a>. You can also follow/contact us on <a target="_blank" href="http://www.twitter.com/HitTheSpot">Twitter</a>, 
		 <a target="_blank" href="http://www.facebook.com/HitTheSpotDelivery">Facebook</a>, and/or
		 <a target="_blank" href="https://plus.google.com/104744831530803373223">Google+</a>. Thanks!</p>
		<div class="sub_image">
			<img src="/assets/phone.jpg" width="580px" />
		</div>
		
	</div>
	<!--
	<div id="sidebar">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus augue elit, dapibus in sagittis id, vehicula id erat. Mauris fermentum urna et metus semper sollicitudin. Duis eu enim tortor, ut suscipit velit. Aenean accumsan dictum enim vel molestie. In eu lorem mi, nec rutrum sem. Aenean lacinia, tortor quis sollicitudin aliquet, neque sem vestibulum est, eu mollis magna dui id tellus.</p>
		<p>Proin aliquet felis augue. Maecenas vel neque mauris, sed auctor sapien. Nulla facilisi. Proin sit amet nisi ante, molestie scelerisque sem. Nullam molestie, tellus ac faucibus luctus, risus tellus imperdiet leo, at vulputate libero nisi nec magna. Sed eu quam nulla. Aenean non est nunc. Nullam elementum dui ut nunc ornare et posuere neque vehicula. Aliquam dignissim mollis pulvinar. Suspendisse dui ipsum, facilisis a rhoncus sit amet, ultrices sit amet dolor.</p>
	</div> -->
	
	<div id="sidebar">
		<%= render :partial => 'shared/sidebar' %>
	</div>
	
	<div class="clear"></div>
</div>
</div>