<div id="content" class="sub">
	<div id="content_wrap">
	<div id="main">
		<h1 id="top">Frequently Asked Questions</h1>
		
		<div class="faq_item" id="where">
			<h3>Where is Hit The Spot starting out? What are your hours?</h3>
			<p>We are launching first in the Seattle area - mostly during lunch hours. 
			   We'll be expanding out to other times and parts of the US as quickly as possible!<br /><br />
			   FYI - the map on the lower part of our <a href="/">home page</a> will always have the current coverage zones displayed.</p>
			<p><a href="#top">Top</a></p>
		</div>					
		
		<div class="faq_item" id="delivery_person">
			<h3>How will a courier find a customer via GPS? How does that work? </h3>
			<p>
				Our Hit The Spot mobile app can be used to easy find the customer's location in real-time.  
				GPS devices are surprisingly accurate these days, so it is possible to pinpoint a location within a few yards. 
			</p>
			<p><a href="#top">Top</a></p>
		</div>		
		
		<div class="faq_item" id="moving">
			<h3>What happens if a customer keeps moving after an order is placed?  What if he/she purposely avoids the delivery? </h3>
			<p>All orders through Hit The Spot are <b>prepaid</b> so it is in the customer's best interest to be easily found.  
				 While moving after an order is certainly allowed (e.g. while shopping, walking at a park, etc.), 
				  the courier and the customer will be in 
				 communication via text so they can spot each other. </p>
			<p><a href="#top">Top</a></p>
		</div>	
		
		<div class="faq_item" id="how_to_signup_as_a_delivery_courier">
			<h3>How can I signup to be a delivery courier?</h3>
			<p>Learn more on our <a href="/couriers">Become a Courier</a> page. We're looking forward to hearing from you!    	
			</p>
			<p><a href="#top">Top</a></p>
		</div>	
		
		<div class="faq_item" id="how_much">
			<h3>How much does Hit The Spot cost?</h3>
			<p>The app is free.  For orders, the delivery fee is a flat 30% ($6 min), which includes tip. This means 
			   you can order a $1 pack of gum and the total will be $7. A larger $50 order, for example, will have a $15 fee (for a total of $65).</p>
			<p><a href="#top">Top</a></p>
		</div>
		
	
		<div class="faq_item" id="mobile">
			<h3>When is your Android app going to be released? </h3>
			<p>We are building it right now and hope to have it ready by the Fall! </p>
			<p><a href="#top">Top</a></p>
		</div>	
		
		
		
	</div>

	
	<div id="sidebar">
		<%= render :partial => 'shared/sidebar' %>
	</div>
	
	<div class="clear"></div>
</div>

	</div>
</div>

