<div id="content" class="sub">
	<div id="content_wrap" class="center">
		<h1>Thank You!</h1>
		<p>Your registration has been received successfully. We will be contacting you soon with next steps!</p>
	</div>
	
</div>