<div id="content" class="sub">
	<div id="content_wrap">
		<div id="main">

		<h1>Terms &amp; Conditions of Service</h1>
<pre style="width: 700px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; ">
<%= render :partial => 'shared/terms' %>
</pre>
    </div>

	<div class="clear"></div>
  </div>
</div>
