<div id="content" class="page confirmation">
  <h1><%= @order.location.name %></h1>

  <div id="confirmation_wrapper">
    <%= render 'confirmation' %>
  </div>
	<div id="confirmation_info">

    <!--
		<a href="" class="btn_jumbo selected"><img src="/assets/icon_person_45.png">I'm new to<br/>Hit the Spot</a>
    <a href="" class="btn_jumbo end"><img src="/assets/icon_check_45.png">I have a<br/>Registered Account</a>
		<div class="clear"></div>
		<div class="select_carrot two"></div>
    -->
		<div class="confirm_content">
			<% if current_user.nil? %>
			  <h3>Your Contact Info</h3>
			<% end %>

			<div id="sign-in" style="display: none;">
				<%= render 'orders/login' %>
				<div class="clear"></div>
			</div>

			<div id="confirm">
				<%= render 'orders/form' %>
			</div>
		</div>
	</div>

  <div id="options_overlay"></div>
  <div id="location_overlay" style="display:none;">
    <div class="overlay_wrapper"><div class="loading"></div></div>
  </div>

  <div class="clear"></div>
</div>

