<div id="content" class="page confirmation">
  <h1>Securely Place Your Order</h1>

	<div id="confirmation_info" class="custom_order">





		<div class="confirm_content">
			<% if current_user.nil? %>
			  <h3>Your Contact Info <!-- &nbsp;<span style="font-size: 11px">(If you have an account, you'll be asked to login)</span> --></h3>			  
			<% end %>

			<div id="sign-in" style="display: none;">
				<%= render 'orders/login' %>
				<div class="clear"></div>
			</div>
			<div id="confirm">							
				<%= render 'orders/custom_form' %>
			</div>
		</div>
	</div>

  <div id="options_overlay"></div>
  <div id="location_overlay" style="display:none;">
    <div class="overlay_wrapper"><div class="loading"></div></div>
  </div>

  <div class="clear"></div>
</div>

