<div id="content" class="sub">
	
	
	<h1>Thank you for your order</h1>
	
		<div id="content_wrap" >
			<div id="main">
				<p class="large">
					Your card will not be charged until your order is confirmed <br>(which should be soon, we'll contact you!).	
			    <div class="link_btn">
			      <%= link_to "Track this order &rarr;".html_safe, dashboard_account_path %>
			    </div>
				</p>
				<!-- <p class="large">Vendor's #: 555-555-1234</p> 
				<p>If you have further questions you can contact the vendor at the number above.</p>-->
				<!-- 
		    -->
			</div>
	
		  <div id="sidebar">
		    <%= render 'shared/sidebar' %>
			</div>

	  	<div class="clear"></div>
	 </div>
  
</div>
