<div id="content" class="sub">
	
	
	<h1>Thank you for your order</h1>
	
		<div id="content_wrap" >
			<div id="main">
				<p class="large">
					Your card will not be charged until a Hit The Spot Courier picks up your order and the exact 
					cost is determined. We'll be in touch via email with more information shortly.	
					
					<% if current_user.present? %>					
				    <div class="link_btn">
				      <%= link_to "Track this order &rarr;".html_safe, dashboard_account_path %>
				    </div>
				  <% end %>
			
				</p>
				<!-- <p class="large">Vendor's #: 555-555-1234</p> 
				<p>If you have further questions you can contact the vendor at the number above.</p>-->
				<!-- 
		    -->
			</div>
	
		  <div id="sidebar">
		    <%= render 'shared/sidebar' %>
			</div>

	  	<div class="clear"></div>
	 </div>
  
</div>
