<div class="fields social_media field">
  <%= f.select :name, Link::OPTIONAL_NAMES %>
  <%= f.text_field :value %>
  <div class="remove_link"><%= remove_child_link "X", f %></div>
  <p class="info_note">Should have dynamic JS example of link here: i.e. "http://twitter.com/#!/tenderlove"</p>
</div>
