<div class="field">
  <%= f.label :make, "Make or Manufacturer Name" %>
  <%= f.select :make, '<option>this is an option</option>', {}, :class => 'pos-make' %>
</div>
<div class="field">
  <%= f.label :model, "Model or Product Line" %>
  <%= f.select :model, '<option>this is another options</option>', {}, :class => 'pos-model' %>
</div>
