<div id="step-2" class="step one_column">

  <div class="column_one">
    <h3>Step 2 - First Location Details</h3>
    <p class="note">(Other locations can be added later.)</p>

    <%= content_for :location %>

    <ul class="form_nav">
      <li class="prev"><span>&laquo; Previous Step</span></li>
      <li id="s2_next" class="next next1"><span>Next Step &raquo;</span></li>
    </ul>
  </div>
	<div class="clear"></div>
</div>
