<div id="step-4" class="step one_column">

  <div class="column_one">
    <h3>Step 4 </h3>
    
    <%= content_for :integration %>

    <ul class="form_nav">
      <li class="prev"><span>&laquo; Previous Step</span></li>
      <li id="s4_next" class="next next1"><span>Next Step &raquo;</span></li>    </ul>
  </div>
  <div class="clear"></div>
</div>
