<div id="step-5" class="step one_column">

  <div class="column_one">
    <h3>Step 5 - Please review the terms and conditions</h3>

    <%# content_for :billing_and_banking %>

    <%= content_for :terms %>

    <div class="field">
      <%= f.submit "Submit Registration!", :id => 'thefinalsubmit', :onClick => 'return checkTerms();' %>
      <div class="clear"></div>
    </div>

    <script type="text/javascript">
      function checkTerms(){
	      var thereturn = false; 
	      if ($('#user_vendor_terms').attr('checked') == 'checked'){
		       thereturn = true;
		       $('#thefinalsubmit').val('Submitting...');
		
		    }else{alert('Please accept the terms before submitting your registration.')}
	      return thereturn; 
      }
    </script> 

    <ul class="form_nav">
      <li class="prev"><span>&laquo; Previous Step</span></li>
    </ul>
  </div>
  <!-- end column_two -->
  <div class="clear"></div>
</div>
