<div id="step-1" class="step one_column">

  <div class="column_one">
    <h3>Step 1 - Tell us about your company</h3>

    <!-- TODO:Greg Why is this script tag here? It was inside if errors block. -->
    <script>
      $(document).ready(function(){
        $().formWizard().openstep(2);
      });
    </script>

    <% if @location.errors.any? %>
      <div id="error_explaination">
        <h4><%= pluralize(@location.errors.count, "error") %> need to be fixed:</h4>
        <ul>
          <% @location.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= content_for :company %>

    <ul class="form_nav">
      <li id="s1_next" class="next next1"><span>Next Step &raquo;</span></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
