<h2>Vendor Tab</h2>
<p>A user has_many vendor and has_many location. Need to display Locations under Vendors (for Vendor users) and all direct Locations (for Location users). Edit links etc show based on permissions.</p>
<h3>Vendors</h3>
<ul>
  <li>
    Vendor A
    <ul>
      <li>(Vendor A) - Location 1</li>
      <li>(Vendor A) - Location 2</li>
    </ul>
  </li>
  <li>
    Vendor B
    <ul>
      <li>(Vendor B) - Location 1</li>
      <li>(Vendor B) - Location 2</li>
      <li>(Vendor B) - Location 3</li>
    </ul>
  </li>
</ul>

<h3>Locations</h3>
<ul>
  <li>(Vendor C) - Location 9</li>
  <li>(Vendor D) - Location 2</li>
</ul>
<p>What happens when you want to edit details for particular Vendor or Location? Or should there be a tab for each vendor/location? Perhaps this would be better.</p>
