<div id="vendor_nav">
	<ul>
		<li class="selected"><a href="">Dashboard</a></li>
		<li><a href="">Menus</a></li>
		<li><a href="">Locations</a></li>
		<li><a href="">Billing</a></li>
		<li><a href="">Analytics</a></li>
	</ul>
</div>
<!--end vendor_nav-->
