<div id="content" class="dashboard">
  <%= render :partial => 'shared/vendor_registration_nav' %>

  <div id="content_wrap">
    <h2>Vendor Registration</h2>

    <%= render 'wizard' %>

  </div>
  <!--end content_wrap-->
</div>
<!--end content-->
