<table class="line_items">
  <%= render partial: 'dashboard/orders/line_item', collection: order.line_items %>
</table>

<table class="totals">
  <tr>
    <td class="heading">Subtotal</td>
    <td class="subtotal"><%= number_to_currency order.subtotal / 100.0 %></td>
  </tr>
  <tr>
    <td class="heading">Tax</td>
    <td class="subtotal"><%= number_to_currency order.tax / 100.0 %></td>
  </tr>
  <tr>
    <td class="heading total">Total (w/ tip)</td>
    <td class="subtotal total"><%= number_to_currency order.total / 100.0 %></td>
  </tr>
</table>
