<h3>Pay Status: <%= @order.pay_state.capitalize %></h3>
<h4>Actions</h4>
<% if @order.payment_authorized? %>
  <% unless @order.submitted? %>
    <%= link_to "Capture", dashboard_order_capture_path(@order), class: 'btn_small grey', remote: true, method: :post %> 
  <% end %>
  <%= link_to "Void", dashboard_order_void_path(@order), class: 'btn_small grey', remote: true, method: :post %>
<% elsif @order.payment_captured? || @order.payment_settled? %>
  <%= link_to "Refund", dashboard_order_refund_path(@order), class: 'btn_small grey', remote: true, method: :post %>
<% else %>
  Payment is Complete
<% end %>
