<div id="confirm_dialog">
  <%= form_for @order, url: dashboard_order_confirm_path(@order), remote: true do |f| %>
    <div>
      <%= f.label :confirm_notes, '<b>Send an optional email</b> to the customer about this order <br>(e.g. how long it will take).'.html_safe %>
      <br /><br>
      <%= f.text_area :confirm_notes, :rows => 4 %>
    </div><br>
    <%= f.submit 'Confirm!' %>
  <% end %>
</div>
