<div id="content" class="dashboard">
	<div id="vendor_nav">
		<ul>
      <li class="selected"><%= link_to "New Location", '#' %></li>
			<li><%= link_to 'Dashboard', dashboard_path %></li>			
		</ul>
	</div>
  <div id="content_wrap">
    <%=raw '<p style="color: green; font-size: 14px;">' + flash[:notice] + '</p>' if flash.present? and flash[:notice].present? %>

    <%= render 'form' %>
    
    <br><br>
  </div>
  <!--end content_wrap-->
</div>
<!--end content-->
