<li>
  <%= link_to "#{line_item.quantity} #{line_item.item.name}", edit_line_item_path(line_item, order_id: @order.id), remote: true, class: 'options' %>
  <%= link_to "(x)", line_item_path(line_item, order_id: @order.id), remote: true, method: :delete, confirm: "Delete this item and any options?", :class => "delete" %>
</li>
