var location_overlay = $('#location_overlay');

if (location_overlay.length > 0) {
  // clear out old values from the overlay
  $('#location_overlay input[type=text]').prop('value',null);

  // render order_list
  var lineItems = "<%=j render @order.line_items %>";
  if (lineItems.length > 0) {
    $('#location_overlay .order_list').children('div').remove();
  }
  $('#location_overlay .order_list ul').html(lineItems);
  $('#location_overlay .subtotal span').html("<%=j number_to_currency(@order.subtotal / 100.0) %>");

  var $orderBtn = $('#location_overlay .order_btn a');
  var $orderDiv = $('#location_overlay .order_btn');

<% if !@line_item.location.open? %>
  $orderBtn.fadeOut(600, function() {
    var orderBtn = $orderBtn.clone();
    $orderDiv.html(orderBtn);
    $orderDiv.append("Closed");
  });
<% elsif @line_item.order.minimum_met? %>
  var orderBtn = $orderBtn.clone();
  $orderDiv.html(orderBtn.fadeIn(200));
<% else %>
  $orderBtn.fadeOut(600, function() {
    var orderBtn = $orderBtn.clone();
    $orderDiv.html(orderBtn);
    $orderDiv.append("<%= number_to_currency @line_item.order.delivery_minimum / 100.0 %> min");
  });
<% end %>

  $('.loading').activity({segments: 12, width:4, space: 3, length: 7, color: '#555'});
}

// close options overlay
var options_overlay = jQuery("#options_overlay");
options_overlay.fadeOut(400);
options_overlay.html("<div class='loading'></div>");
